<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(230, 0, 255);
        }
    </style>
</head>
<body>
    <h1>USER COMMENT</h1>
    <br>
    <form  action="u_comment" method="post">
        {% csrf_token %}
            Name: <input name="name" type="text">
            <br><br>
            Comment: <input name="text" type="text">
            <br><br>
            <input type="submit" value="SAVE">
    </form>
    <br><br>
Comment
<br><br>
{% for data in allcomment %}
    Name: {{data.name}}<br>
   <input type="text" value="{{data.text}}"> 
    
    <br><br>
{% endfor %}

</body>
</html>